body{
font-family:'Poppins',sans-serif;
margin:0;
}

/* LOGO */

.logo-box{
position:absolute;
top:30px;
left:40px;
display:flex;
align-items:center;
gap:8px;
z-index:10;
}

.logo-box img{
width:34px;
}

.logo-box span{
font-weight:600;
color:#6a55e6;
font-size:17px;
}

/* CARD */

.outer-card{
width:420px;
background:white;
padding:45px;
border-radius:26px;
box-shadow:0 20px 40px rgba(120,100,255,0.15);
text-align:center;
}

.logo-center{
width:55px;
margin:auto;
margin-bottom:8px;
}

/* TEXT */

.title{
font-size:26px;
font-weight:600;
color:#444;
}

.subtitle{
font-size:14px;
color:#777;
margin-bottom:25px;
}

/* INNER CARD */

.inner-card{
background:linear-gradient(180deg,#f7f5ff,#f0ecff);
padding:28px;
border-radius:18px;
box-shadow:0 10px 25px rgba(120,100,255,0.08);
text-align:left;
}

/* LABEL */

label{
font-size:13px;
color:#555;
margin-top:12px;
display:block;
}

/* INPUT */

.input{
width:100%;
padding:11px;
margin-top:6px;
border-radius:10px;
border:1px solid #e6e3ff;
background:white;
transition:0.2s;
}

.input:focus{
outline:none;
border:1px solid #a99cff;
box-shadow:0 0 0 3px rgba(170,150,255,0.18);
}

/* PASSWORD FIELD */

.password-field{
position:relative;
}

.show-pass{
position:absolute;
right:10px;
top:50%;
transform:translateY(-50%);
border:none;
background:none;
cursor:pointer;
color:#777;
padding:5px;
}

.show-pass svg{
width:18px;
height:18px;
pointer-events:none;
}

/* BUTTON */

.btn-login{
width:100%;
margin-top:22px;
padding:12px;
border:none;
border-radius:22px;
background:linear-gradient(90deg,#8e7dff,#b9a8ff);
color:white;
font-weight:600;
font-size:14px;
cursor:pointer;
box-shadow:0 8px 20px rgba(150,130,255,0.35);
transition:0.2s;
}

.btn-login:hover{
transform:translateY(-2px);
box-shadow:0 12px 26px rgba(150,130,255,0.45);
}

/* LOGIN TEXT */

.login-text{
text-align:center;
margin-top:16px;
font-size:13px;
color:#777;
}

.login-text a{
color:#6a55e6;
font-weight:500;
text-decoration:none;
}

.login-text a:hover{
text-decoration:underline;
}

/* RESPONSIVE */

@media(max-width:480px){

.outer-card{
width:90%;
padding:30px;
margin-top:70px;
}

.logo-box{
left:50%;
transform:translateX(-50%);
}

}